@font-face {
    font-family: Exo;
    src: url('@/assets/fonts/Exo-Regular.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Exo, sans-serif;
}

body {
    color: #f0f0f0;
}

